[project]
name = "spotoptim"
version = "0.0.4"
description = "Add your description here"
readme = "README.md"
authors = [
    { name = "bartzbeielstein", email = "32470350+bartzbeielstein@users.noreply.github.com" }
]
requires-python = ">=3.10"
dependencies = [
    "numpy>=1.24.3",
    "scipy>=1.10.1",
    "scikit-learn>=1.3.0",
]

[dependency-groups]
dev = [
    "pytest>=7.4.0",
    "pytest-cov>=4.1.0",
]

[build-system]
requires = ["uv_build>=0.9.8,<0.10.0"]
build-backend = "uv_build"
